[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.package]
edition = "2024"
rust-version = "1.88"
version = "0.4.1"
authors = ["bug-ops"]
license = "MIT"
repository = "https://github.com/bug-ops/zeph"

[workspace.dependencies]
anyhow = "1.0"
criterion = "0.8"
eventsource-stream = "0.2"
futures-core = "0.3"
ollama-rs = { version = "0.3", default-features = false, features = ["rustls", "stream"] }
pulldown-cmark = "0.13"
qdrant-client = { version = "1.16", default-features = false }
reqwest = { version = "0.13", default-features = false }
serde = "1.0"
serde_json = "1.0"
serial_test = "3.3"
sqlx = "0.8"
teloxide = { version = "0.17", default-features = false, features = ["rustls", "ctrlc_handler", "macros"] }
tempfile = "3"
testcontainers = "0.27"
thiserror = "2.0"
tokio = "1"
tokio-stream = "0.1"
toml = "0.9"
tracing = "0.1"
tracing-subscriber = "0.3"
uuid = "1.20"
zeph-channels = { path = "crates/zeph-channels", version = "0.4.1" }
zeph-core = { path = "crates/zeph-core", version = "0.4.1" }
zeph-llm = { path = "crates/zeph-llm", version = "0.4.1" }
zeph-memory = { path = "crates/zeph-memory", version = "0.4.1" }
zeph-skills = { path = "crates/zeph-skills", version = "0.4.1" }
zeph-tools = { path = "crates/zeph-tools", version = "0.4.1" }

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"

[package]
name = "zeph"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
tokio = { workspace = true, features = ["full"] }
tracing.workspace = true
tracing-subscriber.workspace = true
zeph-channels.workspace = true
zeph-core.workspace = true
zeph-llm.workspace = true
zeph-memory.workspace = true
zeph-skills.workspace = true
zeph-tools.workspace = true

[dev-dependencies]
tempfile.workspace = true
tokio-stream.workspace = true
zeph-core.workspace = true
zeph-llm.workspace = true
zeph-memory.workspace = true
zeph-skills.workspace = true

[lints]
workspace = true
