[workspace]
members = ["crates/*"]
resolver = "3"

[workspace.package]
edition = "2024"
authors = ["bug-ops"]
license = "MIT"
repository = "https://github.com/bug-ops/zeph"

[workspace.dependencies]
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
thiserror = "2.0"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3"

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"

[package]
name = "zeph"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
zeph-core = { path = "crates/zeph-core" }

[lints]
workspace = true
