[package]
name = "zeph-core"
version = "0.2.0"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
serde = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["full"] }
tokio-stream.workspace = true
toml.workspace = true
tracing.workspace = true
zeph-llm = { path = "../zeph-llm" }
zeph-memory = { path = "../zeph-memory" }

[dev-dependencies]
tempfile.workspace = true

[lints]
workspace = true
